* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.wrapper {
  display: grid;
  max-width: 800px;
  outline: 1px solid white;
}

.item {
  transition: all .2s;
  overflow: visible;
  background-color: rgb(255, 223, 223);
}

button {
  position: absolute;
  transform: translateY(-50%);
  left: 0;
  padding: 20px;
  background-color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  font-family: monospace;
  cursor: pointer;
}

.custom {
  top: 50%;
}

.reset {
  top: 40%;
}

button:hover, button:active, button:focus {
  background-color: brown;
}

h1 {
  position: absolute;
  color: white;
  top: 0;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}